@import "tailwindcss";

html,
body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: white;
  font-family: var(--font-poppins);
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}